= form_for @boat do |f|
  - if @boat.errors.any?
    #error_explanation
      %h2= "#{pluralize(@boat.errors.count, "error")} prohibited this boat from being saved:"
      %ul
        - @boat.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :site_id
    = f.number_field :site_id
  .field
    = f.label :site_url
    = f.text_field :site_url
  .field
    = f.label :id_md5
    = f.text_field :id_md5
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :price_gbp
    = f.text_field :price_gbp
  .field
    = f.label :price_eur
    = f.text_field :price_eur
  .field
    = f.label :price_listed
    = f.text_field :price_listed
  .field
    = f.label :price_listed_ccy
    = f.text_field :price_listed_ccy
  .field
    = f.label :desc_full
    = f.text_area :desc_full
  .field
    = f.label :desc_clean
    = f.text_area :desc_clean
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :seller_name
    = f.text_field :seller_name
  .field
    = f.label :seller_address
    = f.text_field :seller_address
  .field
    = f.label :seller_phone
    = f.text_field :seller_phone
  .field
    = f.label :extra
    = f.text_field :extra
  .field
    = f.label :photos_count
    = f.number_field :photos_count
  .field
    = f.label :photos_urls
    = f.text_field :photos_urls
  .actions
    = f.submit 'Save'
