%h1 Listing boats

%table
  %tr
    %th Site
    %th Site url
    %th Id md5
    %th Name
    %th Price gbp
    %th Price eur
    %th Price listed
    %th Price listed ccy
    %th Desc full
    %th Desc clean
    %th Location
    %th Seller name
    %th Seller address
    %th Seller phone
    %th Extra
    %th Photos count
    %th Photos urls
    %th
    %th
    %th

  - @boats.each do |boat|
    %tr
      %td= boat.site_id
      %td= boat.site_url
      %td= boat.id_md5
      %td= boat.name
      %td= boat.price_gbp
      %td= boat.price_eur
      %td= boat.price_listed
      %td= boat.price_listed_ccy
      %td= boat.desc_full
      %td= boat.desc_clean
      %td= boat.location
      %td= boat.seller_name
      %td= boat.seller_address
      %td= boat.seller_phone
      %td= boat.extra
      %td= boat.photos_count
      %td= boat.photos_urls
      %td= link_to 'Show', boat
      %td= link_to 'Edit', edit_boat_path(boat)
      %td= link_to 'Destroy', boat, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Boat', new_boat_path
